@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="jumbotron">
    <h1>吉林党建网微信答题微网站</h1>
    <p class="lead">网站介绍 各个板块说明.积分制度与奖励等</p>
    <p><a href="~/SupAdmin" class="btn btn-primary btn-lg">超级管理员入口 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>学习理论</h2>
        <p>
            板块1说明内容 关于理论学习的重要性及学习方法 要求等
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">学习理论 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>网络答题</h2>
        <p>网络答题关联板块说明 及题库更新信息提醒 答题相关要求步骤等.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">网络答题 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>个人中心</h2>
        <p>个人中心模块介绍 个人积分查询 兑换 抽奖等相关操作方法 .</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">个人中心 &raquo;</a></p>
    </div>
</div>